html {
    overflow-x: hidden;
    font-size: 20;
}

body {
    background-size: 100;
    background-color: rgba(24, 24, 24, 0.924);
    /* background: url(../img/03.jpg) no-repeat center fixed; */
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

h1 {
    color: rgb(213, 218, 223);
    font-size: 50px;
}

p {
    color: aliceblue;
    font-size: 20px;
}

#nav {
    width: 100%;
    z-index: 7;
    background-color: transparent;
    position: sticky;
    top: 0px;
    background: rgba(230, 191, 153, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#userAvator{
    width:40px;
    float:right;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
}

.bimg {
    background-image: url("../img/pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.info {
    padding-top: 300px;
    padding-left: 20px;

}
#btn-2{
    background-image: linear-gradient(to bottom right, rgb(58, 119, 217), rgb(6, 42, 121));
}
#btn-1{
    border-color:linear-gradient(to bottom right, rgb(58, 119, 217), rgb(6, 42, 121)) ;
    border-width: 3px;
    background-color: #333;
}

.btn-info {
    background-color: #333333;
    opacity: 90%;
    border-style: solid;
    border-color: #333;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
    color: #f2f2f2;
}

.btn-info:hover {
    color: #333;
    background-color: rgba(230, 191, 153, 0.982);
    border-color: rgba(230, 191, 153, 0.982);

}

#content {
    float: inline-end;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}


    /*  topbar */
    .container-top {
        position: absolute;
        margin: 20px;
        width: auto;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: rgba(230, 191, 153, 0.982);
        color: black;
    }

    .sign-in {
        margin-top: 150px;
    }

    /* Navbar */
    #navbar {
        background-color: #333;
        position: fixed;
        z-index: 1;
        top: -70px;
        width: 100%;
        display: block;
        transition: top 0.3s;
    }

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
    }

    .back-color {
        padding-top: 35px;
        background-image: url("../img/01.jpg");
        background-size: cover;
        min-height: 20%;
        float: inline-end;
    }

    #info-card{
        margin-top: -40px;
    }
    #navbar a:hover {
        background-color: rgba(230, 191, 153, 0.982);
        color: black;
    }


    /* About */
    .about {
        background-color: rgb(255, 255, 255);
        min-height: 100%;
        padding: 40px;
        border-bottom: #000 dotted 0.3px;

    }

    .AboutUs {
        margin-top: 200px;
    }

    .about-head {
        font-size: 30px;
        text-decoration: underline;
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .about-detail p {
        color: #333;
    }


    /* contact */
    .ContactUs {
        padding: 30px;
        background-color: #ccc;

    }

    input[type=text],
    input[type=email],
    input[type=date],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #333;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: rgba(230, 191, 153, 0.982);
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(33, 33, 33, 0.916);
        color: #ffffff;
    }

    footer {
        text-align: center;
        padding: 5px;
        background-color: #7c7975f9;
        color: #000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #body {
        background-color: rgba(109, 109, 106, 0.702);
    }

    #galery-show {
        display: none;
    }
    #search-tab{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
#search{
    width: 300px;
    height: 30px;
    background-color:#6968684f;
    border-color: #292828;
    border-radius: 9px;
}
#search:focus{
    background-color: #f2f2f2;

}
#search::placeholder{
    color: #ffffff;
}

/* toggle */
#toggle{
    display: none;

}

#overBtn{
    float: right;
}
.dropdown{
    display: none;
}
#show{
    height:95%
}
/* userPanel */
#userPic{
    width: 200px;
}
table{
    overflow: auto;
}
table th{
    color: rgb(152, 148, 152);
}
table tr {
    color: #ffffff;
    font-size: larger;
    height: 40px;

}
@media only screen and (max-width: 700px) {
    .contact-img {
        display: none;
    }
    #search{
        width: 150px;
    }
    .sidebar2{
        display: none;
    }
    #toggle{
        display: block;
    }
    #overbtn{
        display:none;
    }
    .dropdown{
        display: block;
        float: right;
        width: 20px;
    }
}
/* darkmode  */
.dark-mode{
    background-image: url("../img/05.jpg");

}


/*Cards */
/* .card {
    background-image: linear-gradient(to bottom right, rgba(227, 227, 232, 0.529), rgba(141, 143, 145, 0.524));
} */
 .product-img{
    width: 300px;
 }

 /* login popup */
 /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  